<div class="container mt-5">
  
  <h2>Angular Display Data from Json File Example</h2>
  
  <table class="table table-striped">
    <thead>
        <tr>
          <th>Id</th>
          <th>Customer</th>
          <th>Address</th>
          <th>City</th>
          <th>Date</th>

        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Order of Orders | paginate: { itemsPerPage: 10, currentPage: p }" >
        <td>{{ Order.id }}</td>
        <td>{{ Order.customer }}</td>
        <td>{{ Order.address1 }}</td>
        <td>{{ Order.city }}</td>
        <td>{{ Order.date }}</td>


      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>

</div>